@import './../../../../assets/stylus/imports.styl'

.pagination
  +has('item')
    border-radius: .125rem
    color: palette('Grey', '600')
    cursor: pointer
    display: inline-flex
    font-size: 1rem
    font-weight: 500
    height: 1.5rem
    line-height: 1.5rem
    text-align: center
    text-decoration: none
    transition: color 250ms ease-in-out
    vertical-align: middle
    padding: 0 .5rem
    +variant('active')
      color: palette('Green')
    +variant('disabled')
      color: palette('Grey', '300')
      cursor: not-allowed
    +variant('icon')
      padding: 0
