@import './../../../../assets/stylus/imports.styl'

.drawer
  +has('footer')
    background-color: palette('White')
    border-top: 0.0625rem solid palette('Grey', '100')
    font-size: .875rem
    padding: 1rem 1.5rem
    line-height: 1rem
    font-weight: 300
