<div :class="classNames">

  <v-pagination-item :switch-function="previousPage">
    <v-icon @click.prevent="previousPage">navigate_before</v-icon>
  </v-pagination-item>

  <v-pagination-item
    v-for="page in pagination.totalPages"
    :key="page"
    :is-active="isActive(page)"
    :switch-function="goToPage"
  >
    {{ page }}
  </v-pagination-item>

  <v-pagination-item :switch-function="nextPage">
    <v-icon @click.prevent="nextPage">navigate_next</v-icon>
  </v-pagination-item>

</div>
