@import './../../../assets/stylus/imports.styl'

.pagination
  background-color: palette('White')
  border-radius: .125rem
  box-shadow: $box_shadow_minimum
  display: block
  padding: 1rem
  width: 100%
