@import './../../../assets/stylus/imports.styl'

.pagination
  background-color: palette('White')
  border-radius: .125rem
  box-shadow: $box_shadow_minimum
  display: inline-block
  padding: 1rem
  +variant('block')
    display: block
