<div :class="classNames">

  <v-pagination-item
    @click="previousPage"
    :is-enabled="previousEnabled"
    variant="icon"
  >
    <v-icon>navigate_before</v-icon>
  </v-pagination-item>

  <v-pagination-item
    v-for="page in pagination.totalPages"
    :key="page"
    :is-active="isActive(page)"
    @click="goToPage(page)"
  >
    {{ page }}
  </v-pagination-item>

  <v-pagination-item
    @click="nextPage"
    :is-enabled="nextEnabled"
    variant="icon"
  >
    <v-icon>navigate_next</v-icon>
  </v-pagination-item>

</div>
