@import './../../../../assets/stylus/imports.styl'

.select
  +has('items')
    background-color: palette('White')
    box-shadow: $box_shadow_minimum
    display: flex
    flex-direction: column
    justify-content: space-between
    min-width: 8.5rem
    padding: .5rem 0
    position: absolute
    white-space: nowrap
