@import './../../../../assets/stylus/imports.styl'

.toolbar
  +has('title')
    color: palette('White')
    display: inline-flex
    font-size: 1.125rem
    font-weight: 400
    line-height: 4rem
    position: relative
    vertical-align: middle
