@import './../../../assets/stylus/imports.styl'

.icon
  font-family: 'Material Icons'
  font-feature-settings: 'liga'
  font-weight: normal
  font-style: normal
  font-size: 1.5rem
  direction: ltr
  display: flex
  letter-spacing: normal
  line-height: 1
  text-transform: none
  word-wrap: normal
  white-space: nowrap
  -webkit-font-smoothing: antialiased
  text-rendering: optimizeLegibility
  -moz-osx-font-smoothing: grayscale
  +variant('signifier')
    vertical-align: middle
    color: palette('Grey')
