@import './../../../../assets/stylus/imports.styl'

.drawer
  +has('title')
    color: palette('Green')
    display: inline-block
    font-size: 1.125rem
    font-weight: 400
    line-height: 4rem
    position: relative
    vertical-align: middle
