@import './../../../assets/stylus/imports.styl'

.nav-icon
  border: 0.0625rem solid transparent
  border-radius: 100%
  display: inline-block
  height: 2.5rem
  margin: .75rem
  padding: 0.625rem
  padding-top: .75rem
  position: relative
  vertical-align: middle
  width: 2.5rem
  &:hover
    cursor: pointer

