@import './../../../../assets/stylus/imports.styl'

.navigation
  +has('link')
    color: palette('Grey', '900')
    display: flex
    padding: 1rem 1.5rem
    text-decoration: none
    transition: background-color 100ms ease-in-out, color 100ms ease-in-out
    &:hover
      background-color: palette('Grey', '200')

    +variant('active')
      background-color: palette('Grey', '100')
      color: palette('Green')
