.flip-x-enter-active
  animated()
  animation-name: flipInX
  backface-visibility: visible !important

.flip-x-leave-active
  animated()
  animation-name: flipOutX
  backface-visibility: visible !important
