.flip-y-enter-active
  animated()
  animation-name: flipInY
  backface-visibility: visible !important

.flip-y-leave-active
  animated()
  animation-name: flipOutY
  backface-visibility: visible !important
