@import './../../../../assets/stylus/imports.styl'

.nav-icon
  +has('bar')
    background-color: palette('White')
    height: .125rem
    margin-bottom: 0.25rem
    margin-top: 0.25rem
    position: relative
    width: 100%
    &:first-child
      margin-top: 0
    &:last-child
      margin-bottom: 0

    +variant('green')
      background-color: palette('Green')

