@import './../../../../assets/stylus/imports.styl'

.nav-icon
  +has('bar')
    background-color: palette('White')
    height: .125rem
    position: relative
    width: 100%

    +variant('green')
      background-color: palette('Green')

