<table :class="classNames">

  <v-table-head>
    <v-table-row>
      <v-table-col
        variant="head"
        type="head"
        v-for="heading in headings"
        :key="heading"
        :content="heading.title"
      />
    </v-table-row>
  </v-table-head>

  <v-table-body>
    <v-table-row
      variant="body"
      v-for="item in content"
      :key="item"
    >

      <v-table-col
        variant="body"
        type="body"
        v-for="heading in headings"
        :key="heading"
      >
        <router-link :to="getRouteParameters(item, heading)" v-if="heading.urlTo">
          {{ getContent(item, heading) }}
        </router-link>
        <span v-else>
          {{ getContent(item, heading) }}
        </span>
      </v-table-col>
    </v-table-row>

    <v-table-row
      variant="body"
      v-if="content.length === 0"
    >
      <v-table-col
        variant="body"
        type="body"
        :colspan="headings.length"
        :content="emptyMessage"
      />
    </v-table-row>
  </v-table-body>

</table>
