@import './../../../../assets/stylus/imports.styl'

.menu-icon
  +has('bar')
    position: relative
    background-color: palette('White')
    width: 100%
    height: .125rem
    margin-top: 0.25rem
    margin-bottom: 0.25rem
    &:first-child
      margin-top: 0
    &:last-child
      margin-bottom: 0

