<v-layout>
  <v-grid variant="container">
    <v-row>
      <v-col :variants="['md-4', 'lg-3']">
        <v-card>
          <v-card-body>
            <v-form :action="setQuery">
              <v-input-group>
                <v-icon variant="signifier">search</v-icon>
                <v-text-field
                  variant="with-signifier"
                  v-model="query"
                  :placeholder="$t('overall.search', [ $t('scammer.plural') ])"
                />
              </v-input-group>
            </v-form>
          </v-card-body>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col variant="sm">
        <v-table>
          <v-table-header>
            <v-table-row>
              <v-table-head>
                {{ $t('scammer.full_name') }}
              </v-table-head>
              <v-table-head>
                {{ $t('scammer.first_name') }}
              </v-table-head>
              <v-table-head>
                {{ this.$t('scammer.last_name') }}
              </v-table-head>
            </v-table-row>
          </v-table-header>
          <v-table-body>
            <v-table-row
              v-for="scammer in scammer.all"
              :key="scammer"
              variant="body"
            >
              <v-table-cell>
                <router-link :to="scammerUrl(scammer.id)">
                  {{ scammer.fullName }}
                </router-link>
              </v-table-cell>
              <v-table-cell>
                {{ scammer.firstName }}
              </v-table-cell>
              <v-table-cell>
                {{ scammer.lastName }}
              </v-table-cell>
            </v-table-row>
            <v-table-row v-if="scammer.all.length === 0">
              <v-table-cell colspan="3">
                {{ $t('overall.not_found', [this.$t('scammer.plural')]) }}
              </v-table-cell>
            </v-table-row>
          </v-table-body>
        </v-table>
      </v-col>
    </v-row>
    <v-row>
      <v-col variant="xs-justify">
        <v-card variant="inline">
          <v-card-body>
            <v-pagination
              :pagination="scammer.pagination"
              :switch-page-function="setPage"
              variant="small"
            />
          </v-card-body>
        </v-card>
        <v-card variant="inline">
          <v-card-body>
            <v-select
              v-model="limit"
              :items="pageNumbers"
            ></v-select>
          </v-card-body>
        </v-card>
      </v-col>
    </v-row>
  </v-grid>
</v-layout>
