<div :class="classNames">

  <v-select-label @click="enable">
    <v-select-selected
      ref="selected"
      :content="selectedContent"
    />
    <v-select-icon/>
  </v-select-label>

  <transition name="fade">
    <v-select-list
      :selected-index="selectedIndex"
      :selected-component="$refs.selected"
      ref="items"
      v-if="isActive"
    >
      <v-select-item
        v-for="item in items"
        :key="item"
        :is-selected="isSelected(item)"
        @click="select(item)"
        :content="getContentFrom(item)"
      />
    </v-select-list>
  </transition>

</div>
