@import './../../../assets/stylus/imports.styl'

.select
  background-color: transparent
  display: inline-flex
  vertical-align: middle
  margin: 0
  position: relative
  &:focus
    border-bottom-color: palette('Green')
