@import './../../../assets/stylus/imports.styl'

.menu-icon
  vertical-align: middle
  position: relative
  display: inline-block
  margin: .75rem
  padding: 0.625rem
  padding-top: .75rem
  width: 2.5rem
  height: 2.5rem
  border: 0.0625rem solid transparent
  border-radius: 100%

