@import './../../../assets/stylus/imports.styl'

.drawer
  background-color: palette('White')
  display: flex
  flex-direction: column
  height: 100%
  left: 0
  position: fixed
  top: 0
  transition: left $transition_speed ease-in-out
  width: 17.5rem
  z-index: 999
