<div :class="classNames">
  <v-drawer-header
    v-if="hasHeader"
    :content="getContentFor('header')"
    :variants="getVariantsFor('header')"
  >
    <slot name="header">
      <v-nav-icon :bar="navIcon"/>
      <v-drawer-title
        v-if="hasTitle"
        :content="getContentFor('title')"
        :variants="getVariantsFor('title')"
      >
        <slot name="title" />
      </v-drawer-title>
    </slot>
  </v-drawer-header>
  <v-drawer-body
    v-if="hasBody"
    :content="getContentFor('body')"
    :variants="getVariantsFor('body')"
  >
    <slot name="body" />
  </v-drawer-body>
  <v-drawer-footer
    v-if="hasFooter"
    :content="getContentFor('footer')"
    :variants="getVariantsFor('footer')"
  >
    <slot name="footer" />
  </v-drawer-footer>
</div>
