@import './../../../../assets/stylus/imports.styl'

.select
  +has('icon')
    color: palette('Grey', '600')
    display: inline-flex
    margin-left: .5rem
    margin-right: -.5rem
    text-align: end
