.icon
  font-family: 'Material Icons'
  font-feature-settings: 'liga'
  font-weight: normal
  font-style: normal
  font-size: 1.5rem
  direction: ltr
  display: inline-block
  letter-spacing: normal
  line-height: 1
  text-transform: none
  word-wrap: normal
  white-space: nowrap
  -webkit-font-smoothing: antialiased
  text-rendering: optimizeLegibility
  -moz-osx-font-smoothing: grayscale
  vertical-align: middle
