<div>
  <v-header>

    <v-toolbar title="Scam alert"/>

    <transition name="slide-left">
      <v-drawer v-if="application.drawerActive">
        <v-drawer-header>
          <v-nav-icon :bar="navIcon" />
          <v-drawer-title>
            Scam alert
          </v-drawer-title>
        </v-drawer-header>
        <v-drawer-body>
          <v-navigation :routes="routes" />
        </v-drawer-body>
        <v-drawer-footer>
          Vivid Websolutions &copy;
        </v-drawer-footer>
      </v-drawer>
    </transition>

  </v-header>

  <v-content>

    <slot></slot>

  </v-content>

  <transition name="fade">
    <v-overlay v-show="application.drawerActive"/>
  </transition>

</div>
